@charset "UTF-8";
body, html, div, ul, ol, li, p { margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

body { background-color: #FFF0CB; line-height: 1; font-size: 12px; color: #813121; font-family: 'Helvetica','Droid Sans Fallback'; -webkit-tap-highlight-color: transparent; -webkit-overflow-scrolling: touch; }

img { vertical-align: middle; display: inline-block; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 100%; }

input, a, button { -webkit-tap-highlight-color: transparent; }

a:focus, input:focus, textarea:focus { -webkit-tap-highlight-color: transparent; outline: none; }

a { text-decoration: none; font-size: 12px; }

body { padding: 20px; }

label { position: relative; padding-left: 25px; font-size: 16px; line-height: 22px; }

input[type="checkbox"] + label::before { /* non-break space */ content: ''; /* 不换行空格 */ display: inline-block; width: 20px; height: 20px; border-radius: 2px; background-color: silver; position: absolute; left: 0; top: -2px; line-height: 22px; text-align: center; font-size: 20px; color: #FFF; }

input[type="checkbox"]:checked + label::before { content: '\2713'; background: yellowgreen; }

input[type="checkbox"] { position: absolute; clip: rect(0, 0, 0, 0); }

input[type="checkbox"]:disabled + label::before { background: gray; box-shadow: none; color: #555; }
